@font-face {
      font-family: "SegoeUI";
      src: url("../fonts/SegoeUIRegular.woff") format("woff");
      font-style: normal;
      font-weight: normal;
  }

  @font-face {
      font-family: "SegoeUI";
      src: url("../fonts/SegoeUIBold.woff") format("woff");
      font-style: normal;
      font-weight: 700;
  }

  @font-face {
      font-family: "SegoeUI";
      src: url("../fonts/SegoeUIItalic.woff") format("woff");
      font-style: italic;
      font-weight: normal;
  }

  @font-face {
      font-family: "SegoeUI";
      src: url("../fonts/SegoeUILight.woff") format("woff");
      font-style: normal;
      font-weight: 300;
  }

  @font-face {
      font-family: "SegoeUI";
      src:  url("../fonts/SegoeUISemiBold.woff") format("woff");
      font-style: normal;
      font-weight: 600;
  }