.footer {
  position: relative;
  z-index: 4;
  // margin-top: -100px;
  padding: 155px calc((100% - 1280px)/2) 23px;

  color: #1e252d;

  background-color: #ffffff;
}

.footer__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 35px;
}


.footer__logo {
    display: block;
    width: auto;
    height: 56px;
    margin-right: 65px;
}


.footer__copy {
  font-size: .6rem;
  font-weight: 300; 
  letter-spacing: calc(1em * .2);
  text-align: center;

  opacity: .5;
}

.footer__contacts {
  &::after {
    background: url(../img/icon-phone-reciever-footer.svg) center center no-repeat;
    background-size: contain;
  }
}

.footer__logo-href {
  text-decoration: none;
}

@media screen and  (max-width: 767px) {
  
}
@media screen and  (max-width: 575px) {
  .footer {
    padding-top: 135px;
  }
  .footer__contacts  {
    &::before,
    &::after {
      display: none;
    }
  }
  .footer__contacts {
    width: 230px;
  }
  .footer__logo {
    height: 50px;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .footer__wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
  }
}

.thanks {
  .footer {
    padding-top: 15px;
    padding-bottom: 0;
  }
  .footer__wrap {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer__contacts  {
    margin-left: 0;
  }
}