.tasks {
  position: relative;
  z-index: 5;

  padding: 50px calc((100% - 1280px)/2) 85px; 
  background-color: #ffffff;
}

.tasks__title {
  width: 100%;
  margin-bottom: 10px; 

  color: #1e252d;
  font-size: 2.4rem;
  line-height: 1.2; 
  text-align: center;
  text-transform: uppercase;  

  &--first {
    display: block;

    font-weight: 300;
    letter-spacing: calc(1em * .3);
  }
  &--second {
    display: block;
    
    font-weight: 700;
    letter-spacing: calc(1em * .1);
  }
  &--active {
    color: #ff2233;
  }
}

.tasks__dscr {
  margin-bottom: 20px;  

  color: #1e252d;
  font-size: 1.2rem;
  line-height: 1.15; 
  text-align: center;
  font-weight: 300;
  letter-spacing: calc(1em * .1);
}

.tasks__blocks {
  display: flex;  
  align-items: flex-start;  
  justify-content: space-around;  

  padding: 80px 70px 90px;

  background:  url(../img/slider-bg.png) center top no-repeat;
  background-size: cover;

  counter-reset: task;
}

.tasks__block {
  counter-increment: task;

  max-width: 32%;
  width: 292px; 
  padding: 35px 8px 16px;  
  text-decoration: none;  
  color: inherit;

  background-image: url(../img/task-bg-2.png), url(../img/task-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-size: 100% 82px, 100% calc(100% - 81px);

  &::before {
      content: '0'count(task);

      position: relative; 
      top: -38px; 

      display: block; 
      width: 100%;  

      color: #1e252d;
      font-size: 1.2rem;
      line-height: 1.15; 
      text-align: center;
      text-transform: uppercase;  
      font-weight: 300;
      letter-spacing: calc(1em * .1);
      
      opacity: .2;
  }

  &:nth-of-type(1):hover {
    li::before {
      animation: move-task-1 2.5s linear infinite;
    }
   @for $i from 1 through 5 {
      li:nth-of-type(#{$i})::before {
        animation-delay: ($i - 1) * 0.5s;
      }
    }
  }

  &:nth-of-type(2):hover {
    li::before {
      animation: move-task-2 3.5s linear infinite;
    }

    @for $i from 1 through 7 {
      li:nth-of-type(#{$i})::before {
        animation-delay: ($i - 1) * 0.5s;
      }
    }
  }

  &:nth-of-type(3):hover {
    li::before {
      animation: move-task-3 5s linear infinite;
    }

    @for $i from 1 through 10 {
      li:nth-of-type(#{$i})::before {
        animation-delay: ($i - 1) * 0.5s;
      }
    }
  }
}

.tasks__block-title {
  color: #1e252d;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: calc(1em * .1);
  text-align: center; 
  text-transform: uppercase;

  &::after {
    content: '';

    display: block;
     margin: 4px auto 16px; 
    height: 3px;
    width: 90px;  
    background: linear-gradient(-125deg, transparent 5px, #ff2233 5px, #ff2233 calc(100% - 5px), transparent calc(100% - 5px));
  }
}

.tasks__block-list {
   padding-left: 32px;
   padding-right: 18px;
   padding-bottom: 42px;  

  li {
    position: relative; 

    list-style: none;
    margin-bottom: 14px; 
    padding-left: 30px; 

    color: #1e252d;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.15;
    letter-spacing: calc(1em * .05);

    &::before {
      content: '';

      position: absolute; 
      top: 5px; 
      left: 0;  

      display: inline-block;  
      width: 18px;
      height: 14px; 

      background:    url(../img/cursor.svg) 0 0 no-repeat;
      background-size: contain;

      transform: translateX(0) rotate(45deg);
      
    }
  }
}

.tasks__block-btn {
  width: 100%; 
  height: 46px; 
  padding-top: 14px;   

  font-size: 1rem;
  box-shadow: 0 0 18px  rgba(255, 34, 51, 0.7);

  &::after {
    display: none;  
  }

  &::before {
    height: 46px; 

    transform: translate(6px, 7px);
  }
}

@keyframes move-task-1 {
  0%  {transform: translateX(0) rotate(45deg);},
  10% {transform: translateX(10px) rotate(45deg);},
  20% {transform: translateX(0) rotate(45deg);}
}

@keyframes move-task-2 {
  0%  {transform: translateX(0) rotate(45deg);},
  7% {transform: translateX(10px) rotate(45deg);},
  14% {transform: translateX(0) rotate(45deg);}
}

@keyframes move-task-3 {
  0%  {transform: translateX(0) rotate(45deg);},
  5% {transform: translateX(10px) rotate(45deg);},
  10% {transform: translateX(0) rotate(45deg);}
}

@media screen and (max-width: 1280px) {
  // padding: 0 20px;
  .tasks {
    padding-left: 0;
    padding-right: 0;
  }
  .tasks__title {
    font-size: 2rem;
  }
  .tasks__dscr {
    font-size: 1rem;
  }
  .tasks__blocks {
      padding: 60px 40px 70px;
      flex-wrap: wrap;
  }
  .tasks__block {
    width: 34%;
    min-width: 292px;
    margin-bottom: 20px;
  }
}

@media screen and  (max-width: 767px) {
  .tasks__blocks {
    display: block; 
  }

  .tasks__block-btn {
    padding-top: 18px;
    max-width: 220px;
  }
  .tasks__block {
    min-width: 262px;
    margin-left: auto;  
    margin-right: auto; 
    padding-top: 25px;
  }
  .tasks__block-list {
      padding-left: 36px;
    }
}